<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <nav class="navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">Notes</a>
                <ul class="nav navbar-nav">
                    <li><a href="#" th:href="@{/new}">New Note</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>