<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="usersheader">
    <nav class="navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a class="navbar-brand" th:href="@{/}">Notes</a>
                <form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
                    <button sec:authorize="isAuthenticated()" class="btn btn-outline-success">Logout
                    </button>
                </form>
            </div>
        </div>
    </nav>
</div>
</html>