<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>

<div class="container">
    <h2>Please Sign Up!</h2>
    <form action="/signup" method="post" th:object="${user}">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" th:field="*{username}">
            <small class="text-danger" th:each="err : ${#fields.errors('username')}" th:text="${err}"></small>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" th:field="*{password}">
            <small class="text-danger" th:each="err : ${#fields.errors('password')}" th:text="${err}"></small>
        </div>
        <div class="form-group">
            <label for="matchingPassword">Repeat password:</label>
            <input type="password" class="form-control" id="matchingPassword" placeholder="Repeat password" th:field="*{matchingPassword}">
            <small class="text-danger" th:each="err : ${#fields.errors('matchingPassword')}" th:text="${err}"></small>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>


</body>
</html>