<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="notes">
    <form class="form-inline" th:object="${filterAdjuster}" th:action="@{/(searchText=*{searchText},done=*{done})}">
        <div th:each="option : ${filterOptions}" class="radio-inline">
            <input type="radio" th:value="${option}" th:field="*{done}" th:id="${option.ordinal()}">
            <label th:for="${option.ordinal()}" th:text="${option.description}">All
            </label>
        </div>
        <input th:value="*{searchText}" th:field="*{searchText}" id="searchText" class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
    <table class="table table-bordered table-hover horizontal-align">
        <thead>
        <tr>
            <th style="width: 5%">#</th>
            <th style="width: 60%">Message</th>
            <th class="dropdown" style="width: 20%">Date
                <a th:href="@{'/sort/{sortDateOrder}' (sortDateOrder = 'ASC',searchText=${filterAdjuster.searchText},done=${filterAdjuster.done})}"><i class="fa fa-chevron-circle-up"></i></a>
                <a th:href="@{'/sort/{sortDateOrder}' (sortDateOrder = 'DESC',searchText=${filterAdjuster.searchText},done=${filterAdjuster.done})}"><i class="fa fa-chevron-circle-down"></i></a>
            </th>
            <th style="width: 5%">Done</th>
            <th style="width: 5%">Edit</th>
            <th style="width: 5%">Delete</th>
        </tr>
        </thead>
        <tbody>
        <!--        <tr th:each="note : ${notes}">-->
        <tr th:each="note : ${page.content}">
            <td th:text="${note.id}" style="text-align: center">#</td>
            <td th:text="${note.message}">Message</td>
            <td th:text="${#dates.format(note.date, 'EEE, d MMM yyyy HH:mm')}" style="text-align: center">Date</td>
            <td style="text-align: center">
                <i th:if="${note.done} == true" class="fa fa-plus-square-o" style="font-size:20px;color:#337ab7"></i>
                <i th:if="${note.done} == false" class="fa fa-minus-square-o" style="font-size:20px;color:#337ab7"></i>
            </td>
            <td style="text-align: center"><a th:href="@{'/edit/{id}'(id=${note.id})}">
                <i class="fa fa-edit" style="font-size: 20px;"></i></a>
            </td>
            <td style="text-align: center; padding-top: 4px;">
                <form th:action="@{'/delete/{id}'(id=${note.id})}" th:method="delete">
                    <button type="submit" class="btn-link">
                        <i class="fa fa-trash" style="font-size: 20px;"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <ul class="pagination">
        <li class="previous" th:if="${page.hasPrevious()}">
            <a th:href="@{/list(page=${page.number - 1},size=${page.size},sortDateOrder=${sortDateOrder},searchText=${filterAdjuster.searchText},done=${filterAdjuster.done})}">«</a>
        </li>
        <li class="disabled" th:unless="${page.hasPrevious()}">
            <a href="#">«</a>
        </li>
        <th:block th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}">
            <li th:classappend="${page.number == i}?'active':''">
                <a th:href="@{/list(page=${i},size=${page.size},sortDateOrder=${sortDateOrder},searchText=${filterAdjuster.searchText},done=${filterAdjuster.done})}">[[${i} + 1]]</a>
            </li>
        </th:block>
        <li class="next" th:if="${page.hasNext()}">
            <a th:href="@{/list(page=${page.number + 1},size=${page.size},sortDateOrder=${sortDateOrder},searchText=${filterAdjuster.searchText},done=${filterAdjuster.done})}">»</a>
        </li>
        <li class="disabled" th:unless="${page.hasNext()}">
            <a href="#">»</a>
        </li>
    </ul>
</div>
</html>